.card {
  min-height: 370px;
  margin-right: 0;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h5 {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
