nav {
    display: inline-block;
    /*font-family: 'El Messiri', sans-serif;*/
    font-size: 20px;
}

ul {
    padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

li:last-child {
    margin-right: 0;
}

a {
    color: #fff;
    text-decoration: none;
}