.intro {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100vh;

  background-image: url('./intro.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    display: inline-block;
    margin-right: 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 68px;
    line-height: 68px;
    text-align: right;
  }
}


@media (max-width: 1024px) {
  .intro {
    align-items: flex-end;

    h1 {
      margin-bottom: 80px;

      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media (max-width: 800px) {
  .intro h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
