.courses {
  display: flex;
  min-height: 100vh;
  background: url("./bg.jpg") no-repeat fixed center center;
  background-size: cover;
  padding-top: 1rem;

  .courses_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
